{% extends 'pokemons/BasePokemon.html.twig' %}

{% block body %}

	{{ form_start(pokemonForm) }}
	{{ form_widget(pokemonForm) }}
	<button type="submit">Añadir</button>
	{{ form_end(pokemonForm) }}
{% endblock %}
